.main {
  padding: 20px;
  display: flex;
}
.inputs label {
  display: block;
  margin: 10px;
}
.AddButton, .DeleteButton, .SearchButton {
  border: none;
  border-radius: 5px;
  font-size: 17px;
  margin: 15px 10px;
}
.AddButton {
  background-color: #22aa33;
}
.DeleteButton {
  background-color: #aa2233;
}
.SearchButton {
  background-color: #3322aa;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end
}
.card {
  max-width: 475px;
  background-color: #251c5c33;
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
}